@{
    ViewBag.Title = "About";
}

<p>
    Budynek, szacownej Szkoły Podstawowej nr 2 w Jaśle im. Marii Konopnickiej, jednej z najstarszych placówek oświatowych w powiecie jasielskim, został oddany do użytku w 1904r. Liczy więc ponad sto lat. Najstarszym mieszkańcom naszego miasta, SP nr 2 kojarzy się z żeńskim szkolnictwem powszechnym w Jaśle. Początki nauczania dziewcząt w Jaśle sięgają roku 1788. Od roku 1817 istniała już w Jaśle dwuklasowa szkoła żeńska, pod kierownictwem szkoły męskiej. Dopiero w 1856 roku powstała czteroklasowa szkoła żeńska, której kierownikiem została (dzięki staraniom burmistrza Antoniego Koralewskiego) Emeryka Małachowska. Dwadzieścia lat później nauczycielki wykonały pierwszy sztandar szkolny. W latach 1888/1891, w wyniku zmian organizacyjnych, powstała Szkoła Wydziałowa Żeńska w Jaśle. Kierownikiem nowej szkoły został Teodor Bernardzikiewicz. W 1904 roku, jak już wspomniano, oddano do użytku nowy budynek szkolny przy ulicy Koralewskiego (do dziś widnieje napis "Szkoła Wydziałowa Żeńska"). W czasie pierwszej wojny światowej uległa zniszczeniu część majątku szkolnego, szkołę zajęło wojsko.
    Okres międzywojenny
    W dniu 3 listopada 1918 roku powstał nowy zarząd miasta z dr J. Baranowskim na czele. Do zarządu wszedł nowy kierownik szkoły Stanisław Kaniowski. W roku 1921 powstała nowa struktura szkoły - szkoła siedmioklasowa połączona z wyższą trzyklasową Szkołą Wydziałową. Ważny dla szkoły był rok 1933. Wtedy to został ufundowany przez Komitet Rodzicielski nowy sztandar szkolny (uroczystość jego wręczenia odbyła się 11 listopada). W tym samym roku kierownictwo szkoły przejęła Alfreda Breitmaierowa, wybitna polonistka i dobra organizatorka pracy szkolnej.
</p>
